// $colorCode : #D0CFCF;
// $iconColor:#0cd2fd;
// $themeColor1:#fe3562db;
// $themeColor2:#787273;

.create-acc-header {
  text-align: center;
  font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin: 15px 0;
  color: #3c4043;
}
