<ion-content>
  <ion-card>
    <ion-card-header>
      <form (ngSubmit)="f.form.valid && login()" #f="ngForm" name="form">
        <img src="../../assets/icon/logo.png" />

        <div class="input-items">
          <label for="">Email/Username</label>
          <ion-input class="form-control" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" clearInput
            placeholder="Email or Username" required>
            <ion-icon name="mail"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f.submitted && email.invalid">
            <span *ngIf="email.errors.required">Please enter Email/Username</span>
          </ion-text>
        </div>
        <div class="input-items">
          <label for="">Password</label>
          <ion-input type="password" class="form-control" name="password" [(ngModel)]="user.password"
            #password="ngModel" clearInput placeholder="Password" required>
            <ion-icon name="lock"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f.submitted && password.invalid">
            <span *ngIf="password.errors.required">Please enter Password</span>
          </ion-text>
        </div>
        <div class="frgt-psswrd-lbl hightlight-txt">
          <span [routerLink]="['/forgot-password']">Forgot Password?</span>
        </div>
        <div [ngStyle]="{'text-align':'center'}">
          <button class="submit-btn">
            LOGIN
          </button>
        </div>

        <div class="sign-up-class" [ngStyle]="{'font-size':'14px','text-align':'center','font-family':'system-ui'}">
          Don't have an account?<span class="hightlight-txt" [routerLink]="['/create-account']">
            Sign Up</span>
        </div>
      </form>
    </ion-card-header>
  </ion-card>
</ion-content>