<ion-content>
  <ion-card>
    <ion-card-header>
      <form [formGroup]="loginFG">
        <img src="../../assets/icon/logo.png" />

        <div class="input-items">
          <label for="">E-Mail</label>
          <ion-input formControlName="email" name="email" id="email">
            <ion-icon name="mail"></ion-icon>
          </ion-input>
        </div>
        <div class="input-items">
          <label for="">Password</label>
          <ion-input
            type="password"
            formControlName="password"
            name="password"
            id="password"
          >
            <ion-icon name="lock"></ion-icon>
          </ion-input>
        </div>
        <div class="frgt-psswrd-lbl hightlight-txt">
          <span>Forgot Password?</span>
        </div>
        <div [ngStyle]="{'text-align':'center'}">
          <button class="submit-btn" (click)="login()">
            SIGN IN
          </button>
        </div>

        <div
          class="sign-up-class"
          [ngStyle]="{'font-size':'14px','text-align':'center','font-family':'system-ui'}"
        >
          Don't have an account?<span
            class="hightlight-txt"
            [routerLink]="['/create-account']"
          >
            Sign Up</span
          >
        </div>
      </form>
    </ion-card-header>
  </ion-card>
</ion-content>
