@import "../../theme/common.varaible.scss";

ion-icon {
  font-size: 3em;
  color: $themeColor1;
}
h2 {
  margin: 0;
  font-size: 17px;
  font-family: $fontFamily1;
  font-weight: 400;
}


ion-toolbar {
    .toolbar-background {
      background: #00ff00;
    }
  }

