<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-card text-center padding>
        <ion-icon name="person"></ion-icon>
        <h2>Profile</h2>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card text-center padding>
        <ion-icon name="globe"></ion-icon>
        <h2>Events</h2>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card text-center padding>
        <ion-icon name="pie"></ion-icon>
        <h2>Vision Statmetns</h2>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card text-center padding>
        <ion-icon name="book"></ion-icon>
        <h2>News Feeds</h2>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card text-center padding>
        <ion-icon name="briefcase"></ion-icon>
        <h2>Jobs</h2>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card text-center padding>
        <ion-icon name="school"></ion-icon>
        <h2>Education</h2>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
