<ion-content>
  <ion-card>
    <ion-card-header>
      <form (ngSubmit)="f.form.valid && forgotPswrdSubmit()" #f="ngForm" name="form">
        <img src="../../assets/icon/logo.png" />

        <div class="input-items">
          <label for="">Email</label>
          <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" id="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" clearInput placeholder="Enter Email address" required>
            <ion-icon name="mail"></ion-icon>
          </ion-input>

          <ion-text color="danger" *ngIf="f.submitted && email.invalid">
            <span *ngIf="email.errors.required">Please enter Email address</span>
            <span *ngIf="email.errors.pattern">Please enter valid email address</span>
          </ion-text>
        </div>



        <div class="frgt-psswrd-lbl hightlight-txt">
          <span (click)="sendOTP()"
            [ngClass]="{'unclickableClass': (email.invalid && (email.errors.required || email.errors.pattern))}">{{(isSendOTPClicked)?"Resend OTP?": "Send OTP?"}}</span>
        </div>
        <div class="input-items">
          <label for="">Enter OTP</label>
          <ion-input type="number" class="form-control" name="otpNumber" [(ngModel)]="user.otpNumber"
            #otpNumber="ngModel" id="otpNumber" clearInput placeholder="Enter OTP" required>
            <ion-icon name="lock"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f.submitted && otpNumber.invalid">
            <span *ngIf="otpNumber.errors.required">Please enter OTP number</span>
          </ion-text>
        </div>
        <div class="input-items">
          <label for="">Set Password</label>
          <ion-input type="password" class="form-control" name="password" [(ngModel)]="user.password"
            #password="ngModel" id="password" minlength="6" clearInput placeholder="Enter New Password" required>
            <ion-icon name="lock"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f.submitted && password.invalid">
            <span *ngIf="password.errors.required">Please enter Password</span>
            <span *ngIf="password.errors.minlength">Password must be at least 6 characters</span>
          </ion-text>
        </div>
        <div [ngStyle]="{'text-align':'center'}">
          <button class="submit-btn">
            SUBMIT
          </button>
        </div>

        <div class="sign-up-class" [ngStyle]="{'font-size':'14px','text-align':'center','font-family':'system-ui'}">
          <span class="hightlight-txt" [routerLink]="['/login']">
            Cancel</span>
        </div>
      </form>
    </ion-card-header>
  </ion-card>
</ion-content>